.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui-form {
  width: 100px;
}

.add-dest-button-map {
  border: 1px solid !important;
  background: #ffffff !important;
  float: right;
  /* styling for when showing app full screen on monitor */
  margin-right: 50px !important;
}

.add-dest-button-list {
  border: 1px solid !important;
  background: #ffffff !important;
  /* padding-bottom: 10px !important; */
  float: right;
  margin-right: 36px !important;
}

.add-to-itinerary {
  float: center;
}

.explore-page-header {
  padding-top: 20px;
  font-weight: normal;
  font-family: "Courier New";
}

.my-list-header {
  font-weight: normal;
  font-family: "Courier New";
  padding-top: 10px;
  padding-left: 15px;
}

.new-dest-header {
  font-weight: normal;
  font-family: "Courier New";
  padding-top: 10px;
  padding-left: 15px;
}

.nav-bar-header {
  padding-top: 18px;
  font-family: "Courier New";
}

.app-logo {
  padding-top: 7px;
  padding-left: 8px;
}

.my-list-tab {
  font-family: "Courier New";
}

.my-world-tab {
  font-family: "Courier New";
}

.new-dest-tab {
  font-family: "Courier New";
}
